@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --default-font-family: 'League Spartan', sans-serif;

  --color-main-dark: #141625;
  --color-panel-dark: #1e2139;
  --color-accent-dark: #252945;
  --color-deep-dark: #0c0e16;

  --color-main-light: #f8f8fb;
  --color-panel-light: #ffffff;
  --color-accent-light: #dfe3fa;
  --color-deep-light: #373b53;

  --color-primary-button: #7c5dfa;
  --color-primary-button-hover: #9277ff;

  --color-secondary-button-light: #f9fafe;
  --color-secondary-button-hover-light: #dfe3fa;
  --color-secondary-button-dark: #252945;
  --color-secondary-button-hover-dark: #ffffff;

  --color-paid-status: #33d69f;
  --color-pending-status: #ff8f00;
  --color-draft-status: #373b53;

  --color-secondary-text: #7e88c3;
  --color-secondary-text-dark: #dfe3fa;

  --ease-spring: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
